body {
	background-image:url(flashlight.gif);
	background-position:10px 200px;
	background-color:#CC00CC;
	-webkit-animation-duration: 1500ms;
	        animation-duration: 1500ms;
	-webkit-animation-name: danker;
	        animation-name: danker;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	height:100%;
}

@font-face { font-family: Will; src: url('willfont.otf'); }

* {font-family: Will; font-size: 18px;}

blockquote {
	border-left: 10px solid blue;
	padding-left:50px;
	margin-left:0;
}

.igal {
	border:25px dashed yellow;
	-webkit-animation-duration:200ms;
	        animation-duration:200ms;
	-webkit-animation-name: dank;
	        animation-name: dank;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

#buy {
	width:100px;
	-webkit-animation-duration:2000ms;
	        animation-duration:2000ms;
	-webkit-animation-name: dankest;
	        animation-name: dankest;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

#content {
	width:700px;
	background-color:rgba(255,0,0,0.9);
	height:3200px;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	min-height: 1000px;
}

h1 {
	color:white;
	font-size:30px;
}

@-webkit-keyframes dankest {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes dankest {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@-webkit-keyframes dank {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(3deg);
		        transform: rotate(3deg);
	}
}

@keyframes dank {
	from {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(3deg);
		        transform: rotate(3deg);
	}
}

@-webkit-keyframes danker {
	from {
		background-position: 0px 0px;
	}
	10% {background-position: 0px 0px;}
	20% {background-position: 50px 0px;}
	30% {background-position: 25px 0px;}
	40% {background-position: 0px 0px;}
	45% {background-position: 100px 100px;}
	50% {background-position: 0px 100px;}
	60% {background-position: 0px 200px;}
	70% {background-position: 0px 300px;}
	80% {background-position: 100px 400px;}
	90% {background-position: 200px 500px;}
	to {
		background-position: 219px 584px;
	}
}

@keyframes danker {
	from {
		background-position: 0px 0px;
	}
	10% {background-position: 0px 0px;}
	20% {background-position: 50px 0px;}
	30% {background-position: 25px 0px;}
	40% {background-position: 0px 0px;}
	45% {background-position: 100px 100px;}
	50% {background-position: 0px 100px;}
	60% {background-position: 0px 200px;}
	70% {background-position: 0px 300px;}
	80% {background-position: 100px 400px;}
	90% {background-position: 200px 500px;}
	to {
		background-position: 219px 584px;
	}
}
	
html, body, h1 {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

#ad1 {
	border:3px solid red;
}


.images {
  width: 32.5%;
  padding:0;
  margin:0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name:dankester;
          animation-name:dankester;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-perspective: 800px;
          perspective: 800px;
  border-radius: 100%;
}



@-webkit-keyframes dankester {
	from {
		-webkit-transform: rotateZ( 360deg );
		        transform: rotateZ( 360deg );
		
	}
	to {
		-webkit-transform: rotateZ( 0deg );
		        transform: rotateZ( 0deg );
	}
}



@keyframes dankester {
	from {
		-webkit-transform: rotateZ( 360deg );
		        transform: rotateZ( 360deg );
		
	}
	to {
		-webkit-transform: rotateZ( 0deg );
		        transform: rotateZ( 0deg );
	}
}

.imagedavid {
  width: 32.5%;
  padding:0;
  margin:0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name:dankestest;
          animation-name:dankestest;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-perspective: 800px;
          perspective: 800px;
  border-radius: 100%;
}

.flip-horizontal {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
        transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    -webkit-filter: fliph;
            filter: fliph; /*IE*/
	
}

@-webkit-keyframes dankestest {
	from {
		-webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		        transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /></feComponentTransfer></filter></svg>#filter');
  		-webkit-filter: invert(0);
  		        filter: invert(0);
	}
	50%{
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
		-webkit-filter: invert(1);
		        filter: invert(1);
	}
	to {
		-webkit-transform: rotateX(0deg ) rotateY( 0deg ) rotateZ( 2700deg );
		        transform: rotateX(0deg ) rotateY( 0deg ) rotateZ( 2700deg );
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /></feComponentTransfer></filter></svg>#filter');
		-webkit-filter: invert(0);
		        filter: invert(0);
	}
}

@keyframes dankestest {
	from {
		-webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
		        transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
  		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /></feComponentTransfer></filter></svg>#filter');
  		-webkit-filter: invert(0);
  		        filter: invert(0);
	}
	50%{
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="1 0" /><feFuncG type="table" tableValues="1 0" /><feFuncB type="table" tableValues="1 0" /></feComponentTransfer></filter></svg>#filter');
		-webkit-filter: invert(1);
		        filter: invert(1);
	}
	to {
		-webkit-transform: rotateX(0deg ) rotateY( 0deg ) rotateZ( 2700deg );
		        transform: rotateX(0deg ) rotateY( 0deg ) rotateZ( 2700deg );
		filter:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /></feComponentTransfer></filter></svg>#filter');
		-webkit-filter: invert(0);
		        filter: invert(0);
	}
}

.spin {
	-webkit-animation-name:spin;
	        animation-name:spin;
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	font-size: 100px;
	position: relative;
	margin:0px;
	margin-top:-40px;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		color:white;
	}
	10% {
		color:black;
	}
	90% {
		color:black;
	}
	100%{
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
		color:white;
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		color:white;
	}
	5% {
		color:black;
	}
	90% {
		color:black;
	}
	100%{
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
		color:white;
	}
}

.hover:hover {
	font-family:cursive;
	font-size: 15px;
}
.hover {
	font-size: 20px;
}
blockquote {
	font-size: 20px;
}
