body {
	background-image:url(flashlight.png);
	background-position:10px 200px;
	background-color:#CC00CC;
	animation-duration: 1500ms;
	animation-name: danker;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height:100%;
}

.igal {
	border:30px dashed yellow;
	animation-duration:800ms;
	animation-name: dank;
	animation-iteration-count: infinite;
}

#buy {
	width:100px;
	animation-duration:2000ms;
	animation-name: dankest;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#content {
	width:700px;
	background-color:rgba(255,0,0,0.9);
	height:100%;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
}

h1 {
	color:white;
}

@keyframes dankest {
	from {
		transform: rotate(0deg);
		margin-top: 0;
		margin-left: 0;
	}
	25% {
		margin-top:0;
		margin-left:50px;
	}
	50% {
		margin-top:50px;
		margin-left:50px;
	}
	75% {
		margin-top:50px;
		margin-left:0;
	}
	to {
		transform: rotate(360deg);
		margin-top:0;
		margin-left:0;
	}
}

@keyframes dank {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(7deg);
	}
}

@keyframes danker {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 219px 584px;
	}
}
	
html, body, h1 {
	margin:0;
	padding:0;
}

html {
	height:100%;
}