body {
	background-image:url(flashlight.png);
	background-position:10px 200px;
	background-color:#CC00CC;
	animation-duration: 1500ms;
	animation-name: danker;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height:100%;
}

@font-face { font-family: Will; src: url('willfont.ttf'); }

* {font-family: Will; font-size: 18px;}

blockquote {
	border-left: 10px solid blue;
	padding-left:50px;
	margin-left:0;
}

.igal {
	border:25px dashed yellow;
	animation-duration:200ms;
	animation-name: dank;
	animation-iteration-count: infinite;
}

#buy {
	width:100px;
	animation-duration:2000ms;
	animation-name: dankest;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#content {
	width:700px;
	background-color:rgba(255,0,0,0.9);
	height:2000px;
	margin:auto;
	padding-left:50px;
	padding-right:50px;
	min-height: 1000px;
}

h1 {
	color:white;
}

@keyframes dankest {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes dank {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(3deg);
	}
}

@keyframes danker {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: 219px 584px;
	}
}
	
html, body, h1 {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

#ad1 {
	border:3px solid red;
}


.images {
  width: 32.5%;
  padding:0;
  margin:0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  animation-name:dankester;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
  perspective: 800px;
  border-radius: 100%;
}



@keyframes dankester {
	from {
		transform: rotateZ( 360deg );
		
	}
	to {
		transform: rotateZ( 0deg );
	}
}